html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

button {
  text-align: center;
}

.all {
  display: flex;
  flex-wrap: wrap;
}

.company {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin: 20px 30px;
  border-radius: 10px;
  border: 0.25px solid #333;

}

.company img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.topLine {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.topLine .save {
  color: #777;
  height: 40px;
  width: auto;
  padding: 10px;
  font-size: 20px;
  border: 3px solid #999;
  border-radius: 10px;
  margin-right: 15px;
}

.description {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.description .companyName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.time {
  color: #999;
}

.role {
  gap: 10px;
}

.features button {
  background-color: #ddd;
  color: black;
  height: 40px;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 15px;
}

hr {
  margin-top: 80px;
}
.buttom {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.buttom button {
  background-color: #000;
  color: whitesmoke;
  height: 40px;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.buttom h5{
  color: #999;
}