* {
  padding : 0px;
  margin : 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
  color: #fff;
  background-color: #111;
}

h3{
  color: yellow;
}

button {
  background-color: aqua;
  color: white;
  padding: 0px 10px;
  border: none;
  margin: 10px;
}